.scannerwork/
.settings/
target/
.project
.classpath
.idea/
.sonarlint/
*.iml
*.log
*.db
*.db-journal
/.project
/.metadata/
/.recommenders/
.factorypath
*.lp
*.mps
*.rew
*.rlp
*.sol
solution.txt
/.sonarlint/